* {
	border: .5px solid black;
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	justify-content: center;
}

.navbar {
	
}

.main {

}

.bgmain {

}

.content2 {

}

.cards {

}

.card1 {

}

.card2 {

}

.card3 {

}

.card4 {

}

.footer {

}